/.idea/sonarlint/securityhotspotstore/2/4/2444713b9e047fb24313436d5fa0079aa787ecb2

.idea/
target/
*.iml

# Local application config (secrets)
application.properties
src/main/resources/application-local.properties
application-dev.properties

# Environment variables
.env